---

---

@charset "utf-8";

// HLB brand colors
$primary: #000000;
$secondary: #ef413d;
$secondary-hover: lighten($secondary, 10%);

$media-color-one: #fedcc4;
$media-color-two: #bedced;
$media-color-three: #fedcc4;
$media-color-four: #d7ebd1;
$media-color-five: #d7ebd1;

$cd-color-health-wellness: #70bc55;
$cd-color-lifestyle-leisure: #f5a21d;
$cd-color-financial-literacy: #6f2e8d;
$cd-color-lifelong-learning: #0c9ad5;

$cd-color-light-health-wellness: #d7ebd1;
$cd-color-light-lifestyle-leisure: #fedcc4;
$cd-color-light-financial-literacy: #d9d7ec;
$cd-color-light-lifelong-learning: #bedced;

$cd-color-darken-health-wellness: #467f3c;
$cd-color-darken-lifestyle-leisure: #a16d29;
$cd-color-darken-financial-literacy: #4b205f;
$cd-color-darken-lifelong-learning: #056993;

$gap: 32px !default;
$desktop: 960px + (2 * $gap) !default;

// Mixins

@mixin touch() {
	@media screen and (max-width: $desktop - 1px){
    	@content
	}
}

@mixin desktop() {
	@media screen and (min-width: $desktop){
    	@content
	}
}

// Background
.bg{
  &-primary{
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $secondary !important;
  }
  &-media-color {
  	&-1 {
  		background-color: $media-color-one;
  		&:hover {
  			background-color: darken($media-color-one, 10%);
		}
  	}
  	&-2 {
  		background-color: $media-color-two;
  		&:hover {
  			background-color: darken($media-color-two, 10%);
		}
  	}
  	&-3 {
  		background-color: $media-color-three;
  		&:hover {
  			background-color: darken($media-color-three, 10%);
		}
  	}
  	&-4 {
  		background-color: $media-color-four;
  		&:hover {
  			background-color: darken($media-color-four, 10%);
		}
  	}
  	&-5 {
  		background-color: $media-color-five;
  		&:hover {
  			background-color: darken($media-color-five, 10%);
		}
  	}
  }
  &-1{
    //background-color: $primary;
    background: url('https://c.stocksy.com/a/YY3500/z0/1205314.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-2{
    //background-color: $info;
    background: url('https://c.stocksy.com/a/FY3500/z0/1205295.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-3{
    //background-color: $warning;
    background: url('https://c.stocksy.com/a/L1o500/z0/1383923.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-4{
    //background-color: $danger;
    background: url('https://c.stocksy.com/a/Z22000/z0/7847.jpg') no-repeat left 50%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-gradient{
    background: #b41e8e;
    background: -moz-linear-gradient(45deg, #b41e8e 0%, #5c3f9e 50%, #0061af 100%);
    background: -webkit-linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    background: linear-gradient(45deg, #b41e8e 0%,#5c3f9e 50%,#0061af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41e8e', endColorstr='#0061af',GradientType=1 );
  }
  &-singpass{
    background: #be2e7d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #be2e7d 0%, #d64e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #be2e7d 0%,#d64e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2e7d', endColorstr='#d64e54',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
  }
  &-beeline{
    background: #009d62; /* Old browsers */
    background: -moz-linear-gradient(45deg, #009d62 0%, #0094d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #009d62 0%,#0094d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d62', endColorstr='#0094d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  &-parkingsg{
    background: #0164b6; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0164b6 0%, #04a4e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0164b6 0%,#04a4e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0164b6', endColorstr='#04a4e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// Color definitions
.is {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

// Text color
.has-text-primary {
	color: $primary !important;
}
.has-text-secondary {
	color: $secondary !important;
}

// Menu/Left-nav
.bp-menu-list a.is-active {
	color: $secondary !important;
	border-bottom: 2px solid $secondary !important;
	&:hover {
		border-bottom: 2px solid $secondary !important;
	}
}
.bp-menu-list a:hover {
	color: $secondary !important;
	border-bottom: 1px solid $secondary !important;
}

// Button

.bp-button.is-text span {
  &:hover, &:focus {
    color: $secondary;
  }
}
.bp-button:hover {
  color: $secondary;
}

// Secondary button
.bp-sec-button {
	color: $secondary;
	& span {
		border-bottom: 2px solid $secondary !important;
	}
	&:hover {
		& span {
	    	border-bottom: 2px solid $secondary-hover !important;
	    	color: $secondary-hover !important;
	  	}
	  	& i {
	    	color: $secondary-hover !important;
	  	}
	}
}

// Bottom navigation bar
.bottom-navigation {
	a {
		background-color: $secondary;
	    &:hover{
	      background-color: darken($secondary,10%) !important;
	    }
	}
}

.bp-section.bp-section-pagetitle {
  background-color: $secondary !important;
}

// Pagination
.pagination {
	span {
		&:hover {
            border-color: $secondary;
            color: $secondary;
		}
        &.selected-page:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
	}
    .selected-page {
        background-color: $secondary;
        border-color: $secondary;
    }
}


// Homepage
#key-highlights{
	background-color: $secondary;
	.col {
		border-left:1px solid darken($secondary,10%);
		@include touch(){
			border-top:1px solid darken($secondary,10%);
		}
		&:hover{
			background-color: darken($secondary,10%);
		}
	}
}

// Navbar
.navbar{
  &-start{
    .navbar-item{
      a{
        &.active{
          @include touch(){
            border-bottom:2px solid $secondary;
          }
        }
      }
    }
  }
  .navbar-link:hover:after {
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
  }

  .navbar-item{
    .sub-link.is-active{
      color:$secondary;
    }

    .selector{
      &.active{
        background-color:$secondary;
      }
    }
    &.active{
      @include desktop(){
        border-bottom:1px solid $secondary;
      }
    }
  }
.navbar-item:hover {
  a {
    color:$secondary;
  }
  .selector {
      background-color:$secondary;
    }
  }
}

// Post-content
.content {
	h1, h2, h3, h4, h5 {
		color: $secondary;
		strong {
			color: $secondary;
		}
	}
	blockquote {
		border-left-color: $secondary;
	}
	blockquote > p {
		color: $secondary;
	}
	blockquote > ul {
		color: $secondary;
	}
}

// Media category buttons - not used now but will be used in the future

.media-category-button {
  text-decoration: none !important;
  color: #323232;
  margin-right: 2.5rem;
  letter-spacing: 0.5px;
}

.media-category-button:hover, .media-category-button.selected {
  color: $secondary;
  border-bottom: 2px solid $secondary;
}

// CSS to be refactored
.content img.digital-transformation-icon {
  height: 80px;
  width: 80px;
  margin-left: 0;
}

.news-content {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  margin-top: -5rem;
  background-color: white;
}

.tag {
  display: block;
}

#business {
  display: none;
}
#government {
  display: none;
}

.image-card:hover {
  .news-content {
    background-color: darken(#ffffff, 10%);
  }
}

.hero-dropdown {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.is-centered {
  margin: auto;
}

.is-three-fifths-mobile {
  width: 50%;
  @include touch() {
    width: 100%;
  }
}

//accordion Course
.courseAccordion {
  .cdDesc{
    margin: 0 0 50px;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .row {
    display: flex;
    margin: 0 !important;
    .col {
      flex: 1;
      &:last-child {
        margin-left: 0;
 	      padding:0
      }
    }
  }
  .tabs {
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  }
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    &:hover {
      color: #000;
    }  
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $secondary;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: lighten($secondary, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #000000;
    background: white;		  
    transition: all .35s;
    margin-top: 0;
  }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $secondary;
    cursor: pointer;
    &:hover {
      background: lighten($secondary, 10%);
    }
  }
  input:checked {
    + .tab-label {
      background: darken($secondary, 10%);
      &::after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 500vh;
      padding: 1em;
    }
  }
  .tabs.healthWellness {
    .tab-label {
      background: $cd-color-health-wellness;
      &:hover {
        background: $cd-color-light-health-wellness;
      }    
    }
    .tab-close {
      background: $cd-color-health-wellness;
      &:hover {
        background: $cd-color-light-health-wellness;
      }
    }
    input:checked {
      + .tab-label {
        background: $cd-color-light-health-wellness;
        color: #000000;
      }
    }
    h4{
      color: $cd-color-health-wellness;
      strong {
        color: $cd-color-health-wellness;
      }    
    }
  }
  .tabs.lifestyleLeisure {
    .tab-label {
      background: $cd-color-lifestyle-leisure;
      &:hover {
        background: $cd-color-light-lifestyle-leisure;
      }    
    }
    .tab-close {
      background: $cd-color-lifestyle-leisure;
      &:hover {
        background: $cd-color-light-lifestyle-leisure;
      }
    }
    input:checked {
      + .tab-label {
        background: $cd-color-light-lifestyle-leisure;
        color: #000000;
      }
    }
    h4{
      color: $cd-color-lifestyle-leisure;
      strong {
        color: $cd-color-lifestyle-leisure;
      }    
    }
  }
  .tabs.financialLiteracy {
    .tab-label {
      background: $cd-color-financial-literacy;
      &:hover {
        background: $cd-color-light-financial-literacy;
      }    
    }
    .tab-close {
      background: $cd-color-financial-literacy;
      &:hover {
        background: $cd-color-light-financial-literacy;
      }
    }
    input:checked {
      + .tab-label {
        background: $cd-color-light-financial-literacy;
        color: #000000;
      }
    }
    h4{
      color: $cd-color-financial-literacy;
      strong {
        color: $cd-color-financial-literacy;
      }    
    }
  }
  .tabs.lifelongLearning {
    .tab-label {
      background: $cd-color-lifelong-learning;
      &:hover {
        background: $cd-color-light-lifelong-learning;
      }    
    }
    .tab-close {
      background: $cd-color-lifelong-learning;
      &:hover {
        background: $cd-color-light-lifelong-learning;
      }
    }
    input:checked {
      + .tab-label {
        background: $cd-color-light-lifelong-learning;
        color: #000000;
      }
    }
    h4{
      color: $cd-color-lifelong-learning;
      strong {
        color: $cd-color-lifelong-learning;
      }    
    }
  }
  .tbl {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
    td {
      padding: 10px 5px;
      border-style: solid;
      border-width: 0px;
      overflow: hidden;
      word-break: normal;
    }
    th {
      font-weight: normal;
      padding: 10px 5px;
      border-style: solid;
      border-width: 0px;
      overflow: hidden;
      word-break: normal;
    }
    .tbl-shortdesc {
      border-color: inherit;
      text-align: center;
      vertical-align: middle;
    }
    .tbl-subhdr {
      font-weight: bold;
      border-color: inherit;
      text-align: left;
      vertical-align: middle;
    }
    .tbl-conval {
      text-align: left;
      vertical-align: top;
    }
  }
  table.tblsimpresp { 
    border-collapse: collapse; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    table-layout: fixed; 
  }
  table.tblonline{
    .tbl-subhdr {
      &:last-child { width: 8rem; }
    }
  }  
  table.tblonline2{
    .tbl-subhdr {
      &:first-child { width: 50%; }
    }
  }
  .img-desc-container{
    display: flex; 
    flex-wrap: nowrap;
    margin-top: 5px;
    flex-direction: row;
    .img-container-left{
      width: 40%;
      margin: 0 10px 0 0;
    }
    .desc-container-right{
      width: 60%; 
      margin: 0 0 0 10px;
    }
    .desc_extra {      
      font-size: 1rem;
      strong {
        font-size: 1.1rem;
      }
    }
    img{
      width: 100%;
    }
  }
}

/* Accordion styles */

@media screen and (max-width: 767px) {
  .courseAccordion {
    .tbl {
      width: 100% !important;
      col {
        width: auto !important;
      }
    }
    .tbl-wrap {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      margin: auto 0px;
    }
    .tblsimpresp { 
      border: 0; 
      thead { 
        border: none; 
        clip: rect(0 0 0 0); 
        height: 1px; 
        margin: -1px; 
        overflow: hidden; 
        padding: 0; 
        position: absolute; 
        width: 1px; 
      }
      tr { 
        display: block; 
        margin-bottom: .625em; 
        border-bottom: 1px solid #dbdbdb;
        &:last-child { border-bottom: 0; }
      }  
      td { 
        display: block; 
        font-size: 1em; 
        text-align: left; 
        &::before {
          content: attr(data-label); 
          display: inline-block; 
          font-weight: bold;
          min-width: 7em;
        } 
      }    
    }
    .tblonline {
      td { 
        display: block; 
        font-size: 1em; 
        text-align: left; 
        &::before {
          content: attr(data-label); 
          display: inline-block; 
          font-weight: bold;
          min-width: 100%;
        } 
      }    
    }
    .tblonline2 {
      td { 
        display: block; 
        font-size: 1em; 
        text-align: left; 
        &::before {
          content: attr(data-label); 
          display: inline-block; 
          font-weight: bold;
          min-width: 100%;
        } 
      }    
    }
    .img-desc-container{
      flex-direction: column;
      .img-container-left{
        width: 100%;
        margin: 0 10px 0 0;
      }
      .desc-container-right{
        width: 100%; 
        margin: 0 0 0 10px;
      }      
      img{
        width: 60%;
      }
    }
  }
}

.bg-hero {
	background-position: center !important;
}

@media screen and (max-width: 767px) {
  .bg-hero {
	  background-image: url('/images/home-main-banner-mobile.png') !important;
	  background-repeat: no-repeat !important;
  }
} 

.bp-hero-body {
  background: rgba(0, 0, 0, 0) !important;  
  padding: 0 !important;
  height: 50vh !important;
  .margin--top--lg{
    margin-top: 7rem !important;
  }
}

@media screen and (min-width: 768px) {
  .bp-hero-body {
    min-height: 30vh !important;
    height: 100% !important;
  }
}

@media screen and (min-width: 1380px) {
  .bp-hero-body {
    .margin--top--lg{
      margin-top: 10rem !important;
    }
  }
}
@media screen and (min-width: 1600px) {
  .bp-hero-body {
    .margin--top--lg{
      margin-top: 15rem !important;
    }
  }
}

.bp-container .carousel-nav-container {
  display: none !important;
}

.career-container .career-carousel .profile-content {
  display: none !important;
}

.career-container .bg-gradient {
	background: #ef413d !important;
}

body #main-content {
  display: flex;
  flex-direction: column;
}

.bp-menu-list a {
  color: #000000;
  border-bottom: 1px solid $secondary !important;
}
.bp-menu-list a:hover {
  color: $secondary !important;
  border-bottom: 1px solid $secondary !important;
}
.bp-menu-list a.is-active {
  color: $secondary !important;
  border-color: $secondary !important;
  border-bottom: 2px solid$secondary !important;
}

.bp-menu-list li ul {
  border-left: 1px dotted $secondary !important;
  margin: 0.75em;
  padding-left: 0.75em;
}
.bp-menu-list li:not(:first-child) a {
  border-top: 1px solid $secondary !important;
}
.bp-menu-label {
  color: $secondary !important;
}

.media-card-plain{
  .has-text-white {
    color: #000000 !important;
  }
  
  a.has-text-white:hover,
  a.has-text-white:focus {
    color: #000000 !important;
  }
}

.facebook-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}